USE [TEST_DB]
GO

/****** Object:  Table [dbo].[MASTER_POSITION]    Script Date: 26/9/2022 13:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_POSITION](
	[POSITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_NAME] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_PREFIX]    Script Date: 26/9/2022 13:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_PREFIX](
	[PREFIX_ID] [int] IDENTITY(1,1) NOT NULL,
	[PREFIX_NAME] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PREFIX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONAL_EDUCATION]    Script Date: 26/9/2022 13:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL_EDUCATION](
	[EDU_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [int] NULL,
	[EDUCATION_LEVEL] [nvarchar](250) NULL,
	[INSTITUTION] [nvarchar](250) NULL,
	[QUALIFICATION] [nvarchar](250) NULL,
	[FIELD_OF_STUDY] [nvarchar](250) NULL,
	[GPA] [decimal](10, 2) NULL,
	[CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EDU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONAL_FILES]    Script Date: 26/9/2022 13:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL_FILES](
	[FILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [int] NULL,
	[FILENAME] [nvarchar](500) NULL,
	[CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONAL_INFO]    Script Date: 26/9/2022 13:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL_INFO](
	[PERSONAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[PREFIX_ID] [int] NULL,
	[FULLNAME] [nvarchar](300) NULL,
	[NICKNAME] [nvarchar](150) NULL,
	[BIRTHDAY] [date] NULL,
	[POSITION_ID] [int] NULL,
	[CHK_APPROVE] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
